body {
    margin: 0;
    padding: 0;
}

#logo{
    max-width: 45px;
    max-height: 45px;
    padding: 5px;
}

#inputBox{
    width: 60%!important;
}

.container {
    display: flex;
    max-width: 90%!important;
}

.radios .form-check-inline {
    margin-right: 50px;
}

.radios{
    margin: 10px;
}

#selectionGroup{
    display: none;
}

#tableDiv{   
    max-width: 100vw;
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableStyle {
    max-width: 100vw;
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    table-layout: auto;
}

.tableStyle td{
    word-break: break-all;
    white-space: normal;
}
.tableStyle td,
th {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    h1{
        margin-bottom: 0.1rem!important;
    }
    #inputBox{
        width: 90%!important;
    }
    .container {
        width: 98%!important;
    }
    .radios{
        margin:10px 0px 10px 0px;
    }
    .radios .form-check-inline {
        margin: 0px 9px 0px 9px;
    }
    #tableDiv{
        margin: 5px!important;
        padding: 5px!important;
    }
    .tableStyle {
        font-size: 8px;
        max-width: 100%;
    }
    .tableStyle td, th {
    padding: 2.5px 1px;
    text-align: left;
    }
}
